<div id="subjects">
  <div class="title">
    <span><%= t "layouts.admin.subjects" %></span>
    <span class="pull-right"><%= link_to t("subjects.buttons.admin.create"),
      new_admin_subject_path, class: "btn btn-success" %></span>
  </div>
  <div id="subject_section">
    <%= render @subjects %>
  </div>
</div>
