<h1><%= t "titles.admin.subject.show" %></h1>
<h4><b class="text-success"><%= @subject.name %></b></h4>
<h4><b><%= @subject.description %></b></h4>
<% @task_masters.each do |task_master| %>
  <div><%= task_master.name %></div>
<% end %>
