<li class="comment-field-row">
  <div class="media-left">
    <%= link_to avatar_user_tag(current_user, "img-circle media-object", Settings.image_size_40),
  user_path(current_user), title: current_user.name %>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <div class="data-user-task-id" data-user-task-id="<%= @user_task.id %>"></div>
      <%= text_area_tag "comment", nil, id: "comment-field", class: "form-control" %>
    </div>
  </div>
</li>
