<div id="profiles" class="profile-active">
  <table id="profile-tbl" class="table table-bordered display"
    data-source="<%= admin_profiles_url format: "json" %>" >
    <thead>
      <tr class="active">
        <th></th>
        <th><%= t "user.table.name" %></th>
        <th><%= t "user.table.action" %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
