<% provide :title, @user.name %>
<div class="row user-profile">
  <div class="col-md-5">
    <div class="row">
      <%= render "info" %>
    </div>
    <br>
    <%= render "shared/courses" %>
  </div>
  <div class="col-md-6 pull-right">
    <div class="row list-group-item center">
      <h5><strong><%= t "activity.activities" %></strong></h5>
    </div>
    <div class="row activities-tab-content">
      <%= render "shared/activities", activities: @activities %>
    </div>
  </div>
</div>
