<% provide :title, @user.name %>
<div class="row user-profile">
  <div class="col-md-5">
    <div class="row">
      <%= render "info" %>
    </div>
    <br>
    <%= render "shared/courses" %>
  </div>
  <div class="col-md-6 pull-right">
    <h3><strong><%= t "activity.activities" %></strong></h3>
    <hr>
    <div class="row">
      <%= render "shared/activities", activities: @activities %>
    </div>
  </div>
</div>
