<%= render "shared/evaluation_tab", active_tab: Settings.tabs.evaluation_templete %>

<div id="evaluation-templates">
  <div class="row">
    <div class="col-md-8">
      <div class="title"><%= t "button.new" %></div>
      <%= render "form" %>
    </div>
  </div>
</div>
