<div class="row">
  <div id="show-courses">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#inprogress_course">
          <%= t "courses.in_progress" %></a>
      </li>
      <li>
        <a data-toggle="tab" href="#finished_course">
          <%= t "courses.finished" %></a>
      </li>
    </ul>
    <div id="user-profile-courses" >
      <div class="tab-content">
        <div id="inprogress_course" class="tab-pane active list_special">
            <%= render "course", course:
              @inprogress_course if @inprogress_course.present?%>
        </div>
        <div id="finished_course" class="tab-pane fade list_special">
          <% unless @finished_courses.nil? %>
            <% @finished_courses.each do |course| %>
              <%= render "users/course", course: course %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
