<div class="progress">
  <div class="progress-bar progress-bar-<%= status %>" role="progressbar"
    aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100"
    style="width: <%= percentage_format percent %>;">
    <%= percentage_format percent %>
  </div>
</div>
