<div id="trainees">
  <%= form_for @course, url: admin_course_assign_trainers_path, method: :patch do |f| %>
    <%= render "shared/error_messages", object: @course %>
    <%= render "shared/form_assign", f: f, users: @trainers, course_users:
      @course.user_courses.map(&:user)%>
  <% end %>
</div>
