#flag-language-admin {
  height: 50px;
  padding: 13px 0px;
}
.profile-image {
  margin-left: 10px;
  width: 150px;
  border-radius: 50%;
}
#show-courses {
  ul, li {
    list-style-type: none;
  }
  .nav-tabs {
    margin: 0;
  }
  .list_special .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0;
  }
  .list_special {
    margin-bottom: 30px;
    .list-group-item {
      padding-top: 0px;
      border: solid 1px #ddd;
    }
    .list-group-item:first-child {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-top: 0;
    }
  }
  .finished_course {
    padding-left: 10px;
    dt, dd {
      padding: 3px;
      strong {
        float: left;
      }
    }
  }

}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.border-course {
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
}
.tab-in-courses {
  .tabs-left {
    .nav-tabs {
      border-bottom: 0;
    }
  }

  .tab-content > .tab-pane {
    display: none;
  }

  .tab-content > .active {
    display: block;
  }

  .tabs-left {
    > .nav-tabs > li {
      float: none;
      > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
      }
    }
  }

  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    > li > a {
      margin-right: -1px;
      -webkit-border-radius: 4px 0 0 4px;
         -moz-border-radius: 4px 0 0 4px;
              border-radius: 4px 0 0 4px;

      &:hover, &:focus {
        border-color: #eee #ddd #eee #eee;
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #fff;
      }
    }
  }
}
.body-rails-admin {
  display:none;
  position:fixed;
  right:20px;
  bottom:20px;
  z-index:100000
}
