#courses {
  .tbl-course {
    .name {
      width: 10%;
    }
    .avatar {
      width: 10%;
    }
    .description {
      width: 10%
    }
    .content {
      width: 40%
    }
    .start-date, .end-date{
      width: 10%
      }
    .action {
      width: 10%;
      text-align: center;
    }
  }
  margin-right: 10px;
}

.list-subjects{
  line-height: 2;
  label {
    font-weight: normal !important;
  }
}
