#evaluation-templates {
  #evaluation-template-tbl {
    .name {
      width: 40%;
    }
    .min-point, .max-point, .action {
      width: 20%;
      text-align: center;
    }
  }

  #evaluation-template-tbl_filter {
    text-align: left;
    input {
      width: 150%;
    }
  }

  #evaluation-template-tbl_paginate {
    text-align: left;
  }
}
