#ranks {
  .tbl-rank {
    .begin-point, .end-point, .rank {
      width: 20%;
    }
    .action {
      width: 40%;
      text-align: center;
    }
  }

  #rank-tbl_filter {
    text-align: left;
    input {
      width: 150%;
    }
  }

  #rank-tbl_paginate {
    text-align: left;
  }
}
