#roles {
  .input-group-btn {
    padding-top: 20px;
    padding-left: 30px;
  }

  .tbl-role {
    .name {
      width: 30%;
    }
    .allow_access_admin {
      width: 40%;
    }
    .action {
      width: 30%;
      text-align: center;
    }
  }
}
