#roles {
  .input-group-btn {
    padding-top: 20px;
    padding-left: 30px;
  }

  #role-tbl_filter {
    text-align: left;
    input {
      width: 150%;
    }
  }

  #role-tbl_paginate {
    text-align: left;
  }
}
