#list-subjects {
  .input-group-btn {
    padding-top: 20px;
    padding-left: 50px;
  }
  .search-subject {
    padding-left: 10px;
  }

  .tbl-subject {
    .name {
      width: 10%;
    }
    .avatar {
      width: 10%;
    }

    .description {
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 150px;
      max-width: 250px;
    }

    .content {
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 150px;
      max-width: 250px;
    }

    .during_time, .action {
      width: 20%;
      text-align: center;
    }
  }
  .form-new-tasks {
    padding-top: 10px;
    margin: 0px;
    background-color: #CEF6D8;
    .remove-field {
      padding-left: 0px;
    }
  }

  #subjects_filter {
    text-align: left;
    input {
      width: 150%;
    }
  }
  #subjects_paginate {
    text-align: left;
  }
}

#admin-subject-show {
  .subject-name {
    margin-top: 0px;
  }
}
