#subjects {
  .input-group-btn {
    padding-top: 20px;
    padding-left: 50px;
  }
  .search-subject {
    padding-left: 10px;
  }

  .tbl-subject {
    .name {
      width: 10%;
    }
    .avatar {
      width: 10%;
    }
    .description {
      width: 20%;
    }
    .content {
      width: 20%
    }
    .during_time, .action {
      width: 20%;
      text-align: center;
    }
  }
  .form-new-tasks {
    padding-top: 10px;
    margin: 0px;
    background-color: #CEF6D8;
    .remove-field {
      padding-left: 0px;
    }
  }
}
