#subjects {
  .tbl-subject {
    .name {
      width: 20%;
    }

    .description {
      width: 20%;
    }
    .content {
      width: 30%
    }

    .during_time, .action {
      width: 15%;
      text-align: center;
    }
  }
}
