#universities {
  .tbl-university {
    .name {
      width: 70%;
    }
    .action {
      width: 30%;
      text-align: center;
    }
  }
  
  #university-tbl_filter {
    text-align: left;
    input {
      width: 150%;
    }
  }

  #university-tbl_paginate {
    text-align: left;
  }
}
