#user-subject {
  .user-list {
    margin: 30px 0px;
  }

  .btn-start-all {
    margin-right: 10px;
  }

  .tbl-user-task {
    .status-task {
      width: 10%;
    }

    .name {
      width: 20%;
    }

    .estimate-time, , .progress-value, .assign_user {
      width: 20%;
      text-align: center;
    }

    .spent-time {
      width: 10%;
    }
  }

  .subject-status {
    padding: 3px;
    width: 80px;
  }

  .user-task-info {
    font-size: 15px;
    padding-top: 15px;
  }
}
