<h3><%= t "subject.labels.user_lists" %></h3>
<%= render partial: "subjects/user_subject", collection: @user_subjects %>
<hr>
<% if @course.progress? %>
  <%= link_to t("subjects.task.finish_all"), "#", class:
    "btn btn-success pull-right" %>
<% end %>
