<div class="row">
  <div class="col-md-1">
    <%= link_to image_tag("#{user_task.status}.png",
      size: Settings.image_size_50),
      course_subject_user_task_path(@user_subject.course_subject, user_task),
      title: t("user_tasks.statuses.#{user_task.status}") %>
  </div>
  <div class="col-md-10">
    <div class="task-name">
      <span><%= link_to user_task.task_name,
      course_subject_user_task_path(@user_subject.course_subject, user_task) %></span>
      <% if current_user?(user_task.user) && user_task.subject_in_progress? &&
        !user_task.finished? %>
        <span class="edit-task">
          <%= link_to "#", data: {toggle: "modal", target: "#user-task-#{user_task.id}"},
            title: t("subjects.task.update") do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>
<hr>
<%= render "edit_task_modal", user_task: user_task %>
