<div id="user-subject" class="row">
  <h2><b class="text-success"><%= @subject.name %></b></h2>
  <p><i><%= @subject.description %></i></p>
  <div class="task">
    <%= render "task" %>
  </div>
  <div class="user-lists">
    <%= render "user_lists" %>
  </div>
</div>
