<div class="btn-show-course-subject">
  <% if @course_subject.init? %>
    <%= link_to t("admin.actions.show_course_subject.start"), start_course_subject_path(course_subject_id: @course_subject.id),
      class: "btn btn-primary", remote: true %>
  <% elsif @course_subject.progress? %>
    <%= link_to t("admin.actions.show_course_subject.progress"), finish_course_subject_path(course_subject_id: @course_subject.id),
      class: "btn btn-primary", remote: true %>
  <% elsif @course_subject.finish? %>
    <%= link_to t("admin.actions.show_course_subject.finished"), start_course_subject_path(course_subject_id: @course_subject.id),
      class: "btn btn-primary", remote: true %>
  <% end %>
</div>
