<div class="btn-show-course-subject">
  <% if course_subject.init? %>
    <%= link_to t("admin.actions.show_course_subject.start"),
      start_course_subject_path(course_subject_id: course_subject.id),
      data:{confirm: t("admin.confirm.start_subject")},
      class: "btn btn-xs btn-default", remote:true %>
  <% elsif course_subject.progress? %>
    <%= link_to t("admin.actions.show_course_subject.finish"),
      finish_course_subject_path(course_subject_id: course_subject.id),
      data:{confirm: t("admin.confirm.finish_subject")},
      class: "btn btn-xs btn-primary", remote:true %>
  <% elsif course_subject.finish? %>
    <label class="btn btn-xs btn-danger">
      <%= t "admin.actions.show_course_subject.finished" %>
    </label>
  <% end %>
</div>
