<div class="row status profile-active" id="statuses">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= t "statuses.panel.edit" %></div>
      <div class="panel-body"><%= render "form" %></div>
    </div>
  </div>
</div>
