<tr>
  <td class="name"><%= link_to course_subject.subject.name,
    admin_course_subject_path(@course, course_subject.subject) %></td>
  <td class="during-time"><%= "#{course_subject.subject.during_time} #{t "subjects.fields.days"}" %></td>
</tr>
