ul.nav {
  list-style-type: none;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;

  &.leftsidebar {
    left: 0px;
    border-right: 1px solid #eee;
  }

  &.rightsidebar {
    right: 0px;
    border-left: 1px solid #eee;
  }  

  &.main {
    top: 0px;
    position: relative;
    background-color: #fff;
  }  
}

h1 {
  &.title {
    border-bottom: 1px solid #eee;
  }
}
