#trainee-course {
  .status {
    font-size: 60%;
  }
}

#user-course-index {
  margin-bottom: 100px;

  .breadcrumb-bar {
    margin-bottom: 0em;
    text-align: left;
  }

  .breadcrumb {
    background-color: #FFFFFF !important;
    font-size: 120%;
  }

  .breadcrumb>li {
    display: inline;
    font-size: 95%;
    font-weight: 600;
    margin-right: 0.625em;
  }
  .breadcrumb>li:last-child {
    margin-right: 0;
  }
  .breadcrumb>li::after {
    padding-left: 0.625em;
  }
  .breadcrumb>li:last-child::after {
    content: "";
    padding-left: 0;
  }
  .breadcrumb>li>a {
    border: 0;
    text-decoration: underline;
    color: #21abc7 !important;
  }

  .list {
    margin-top: -1.5em;
    color: #21abc7;
  }

  ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    .link--underline {
      left: 0px;
      font-size: 150%;
      text-decoration: underline;
      color: #21abc7;
      font-weight: 600;
      font-size: 115%;
    }
  }

  .introduce-content {
    text-align: center;
    margin-top: 2%;
    h2 {
      color: #575a5b;
      a {
        color: #21abc7;
      }
    }
  }

  .list-course-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
  }

  .course-item {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .badge {
    left: 36%;
    position: absolute;
    z-index: 4;
    top: -2.4%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px #000000;
    display: block;
    height: 110px;
    padding: 1.5%;
    width: 110px;
  }

  .badge-img {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
  }

  .badge:hover {
    transform: translateY(10%);
    transition: 0.2s ease-in-out;
  }

  body {
    background-color: #F8F8F8;
  }

  .last-actived {
    .path-content {
      background-color: #E2FBEB;
    }
  }

  .last-actived:hover {
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
    .truncate, a {
      color: green;
    }
  }

  .normal-course {
    .path-content {
      background-color: #fff;
    }
  }

  .normal-course:hover {
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
    .truncate, a {
      color: #650033;
    }
  }

  .path-parent {
    .path-header {
      height: 90px;
      border-top-right-radius:10px;
      border-top-left-radius: 10px;
      background-image: url("/assets/codeschool.svg");
      background-color: #21abc7;
    }

    .path-content {
      min-height: 250px;
      box-shadow: 1px 2px gray;
      border-radius: 15px;
      margin-top: 30px;
      text-align: center;
      h2 {
        font-weight: 300;
        color: #21abc7;
      }

      .truncate {
        padding: 0 2% 0 2%;
        text-align: center;
        width: 95%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .path-description {
      font-weight: 100;
      font-size: 100%;
      width: 90%;
      text-align: center;
      padding-left: 5%;
      margin-bottom: 3%;
      color: #393d40;
      line-height: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
