.title {
  margin-top: 20px;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

.status {
  padding: 10px;
  width: 120px;
  color: white;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  a {
    color: white;
  }
  &.init {
    background: #55acee;
  }
  &.inprogress {
    background: #f69c55;
  }
  &.finish {
    background: #9ea3a9;
  }
}

.course-status {
  padding: 3px;
  width: 80px;
  margin-top: 50px;
  float: right;
}

.course-subject-status{
  padding: 3px;
  width: 80px;
  float: right;
}

.list-subject {
  margin-top: 20px;
}

.information {
  margin-top: 50px;
  padding-left: 15px;
  .description {
    margin-top: 20px;
  }
}

.rightbar {
  margin-top: 80px;
  #show_member {
    border-radius: 5px;
    background-color: white;
    #infor_member {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
      a {
        margin: auto 20px;
      }
    }
  }
  .nav-tabs > li {
    width: 50%;
  }
  .list_special {
    margin-bottom: 30px;
    .list-group-item:first-child {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-top: 0;
    }
    .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
  }
}
