/* header */
#header {
  .header_search {
  padding: 8px 0px;
  width: 300px;
  }

  .flag-language {
    height: 50px;
    padding: 16px 0px;
  }
  
  a:hover {
    color: #5882FA;
  }
}
#show-courses {
  ul, li {
    list-style-type: none;
  }
}

.border-course {
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.body_wrapper {
  margin-top: 50px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

select {
  width: 150px;
  text-align:center;
  height: 30px;
}

select .lt {
  text-align:center;
}

select {
  text-indent: 5px;
}

.table {
  margin-top: 20px;

  thead tr th {
    background-color: #F2F2F2;
    padding: 4px;
    border: none;
  }

  tbody tr td {
    border: none;
    padding: 4px;
  }

  tbody tr:hover td {
    background-color: #FFFFD1;
  }
}

.title {
  margin-top: 20px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  .name {
    color: blue;
  }
}

.description {
  font-style: italic;
}

.label {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
}

.label-danger {
  background: #9ea3a9;
}

.nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  cursor: pointer;
}
