html {
    position: relative;
    min-height: 100%;
}
/* header */
#admin-header {
  .flag-language {
    padding-top: 12px;
  }
}

body, .breadcrumb, .content-wrapper {
  background-color: #F6F8F8 !important;
  padding: 0;
}

.body_wrapper {
  padding-bottom: 350px;
}

#user-header {
  .logo {
    margin-left: 30px;
    img {
      width: 57px;
    }
  }

  ul {
    margin-top: 3px;
  }

  ul, li a{
    color: #aebdc1;
    font-weight: 600;
  }

  ul, li {
    a:hover {
      color: black;
    }
  }

  .navbar {
    border-radius: 0px;
    background-color: #FFFFFF;
  }

  .language-select {
    left: -154% !important;
    margin: 5px 2px 2px 2px;

    li a {
      color: #3c8dbc !important;

      &:hover {
        background-color: #F6F6F6;
      }
    }
  }

   a:focus {
    background-color: white;
   }

  .user-menu  {
    .dropdown-toggle {
      height: 50px;
    }

    .dropdown-menu::before {
      right: 29px !important;
    }

    .dropdown-menu::after {
      right: 30px !important;
    }

    .user-image {
      width: 35px !important;
      height: 35px !important;
      margin-top: -6px;
    }

    .dropdown-menu {
      width: 80% !important;
      color: #3c8dbc !important;
      margin: 5px 2px 2px 2px;
      left: -123%;
      border-top: 1px solid #eee !important;

      li a {
        color: #3c8dbc !important;

        &:hover {
          background-color: #F6F6F6;
        }
      }
    }
  }


  li > .dropdown-menu::before {
      position: absolute;
      top: -7px;
      right: 15px;
      display: inline-block;
      margin-bottom: 6px;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

  li > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    right: 15px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    margin-bottom: 7px;
    content: '';
  }

  @media screen and (max-width: 768px) {
    li > .dropdown-menu::before, li > .dropdown-menu::after {
      display: none;
    }
  }

  .dropdown {
    .dropdown-label {
      position: absolute;
      top: 4px;
      right: 2px;
      font-size: 9px;
      padding: 2px 3px;
      line-height: .9;
    }

    .notification-content {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 1.5;
    }

    .notification-date {
      font-size: 10px;
      color: #999;
    }
  }

  .navbar-nav {
    .dropdown-menu>li .menu {
      max-height: auto !important;
      overflow-x: initial !important;
    }
  }
}

select {
  width: 150px;
  text-align:center;
  height: 30px;
}

select .lt {
  text-align:center;
}

select {
  text-indent: 5px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto Slab, serif";
  color: #474647;
  font-size: x-large;
}

.label {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
}

.label-danger {
  background: #9ea3a9;
}

.nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  cursor: pointer;
}

.remove-field {
  font-weight: bold;
}

.highlight { background-color: yellow }

.info-panel {
  .user-list {
    padding-left: 3px;

     li {
      margin: 6px;
      list-style: none;
      float: left;
    }
  }

  .plus-node {
    background-color: #b3b3b3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2;
    color: white;
    a {
      color: WHITE;
    }
  }

  .plus-node:hover {
    background-color: #E0E1DD;
  }

  .doc-field {
    padding-left: 28px;
    list-style-type: circle;

    a {
      text-decoration: underline !important;
    }
  }

  .box-title {
    color: #575a5b;
    margin: 0px;
  }
}

.card {
  margin-bottom: 10%;
  padding: 10%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 7px;

  #complete {
    margin-top: 30px;
    color: #aebdc1;
  }

  .course-infor {
    padding-top: 11px;
  }
}

.label-status {
  border-radius: 3px;
  color: white;
  font-weight: 500;
  padding: 0px 3px 1px 5px;
}

.box-divider {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;

  .label-title {
    color: #257C94;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.description {
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  margin-bottom: 0;
  background-color: WHITE;
}

.progress-bar {
  color: BLACK;
}

.progress-bar-init {
  background-color: #DC9F48 !important;
}

.progress-bar-progress {
  background-color: #009852 !important;
}

.progress-bar-finish {
  background-color: #ccc !important;
}

.progress-init {
  border: 1px solid #DC9F48;
}

.progress-progress {
  border: 1px solid #009852;
}

.progress-finish {
  border: 1px solid #ccc;
}

.user-notification {
  .notification-table {
    background-color: white;
    a {
      color: black;
    }
  }
}
