/* header */
#header {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 75px;

  .user-header {
    min-width: 85em;

    .header-cell {
      width: 100%;
      border: 1px;
      .logo-lg {
        padding: 2%;
        font-weight: 200%;
        font-size: 150%;
      }
    }
  }

  .header_search {
    padding: 8px 0px;
    width: 300px;
  }

  .flag-language {
    height: 50px;
    padding: 16px 0px;
  }

  a:hover {
    color: #5882FA;
  }
}

#header::after {
  background-color: rgba(0,0,0,0.1);
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100%;
}

body {
  background-color: #F6F8F8;
}

#show-courses {
  ul, li {
    list-style-type: none;
  }
}

.border-course {
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.body_wrapper {
  margin-top: 50px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

select {
  width: 150px;
  text-align:center;
  height: 30px;
}

select .lt {
  text-align:center;
}

select {
  text-indent: 5px;
}

.table {
  margin-top: 20px;

  thead tr th {
    background-color: #F2F2F2;
    padding: 4px;
    border: none;
  }

  tbody tr td {
    border: none;
    padding: 4px;
  }

  tbody tr:hover td {
    background-color: #FFFFD1;
  }
}

.title {
  margin-top: 20px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  .name {
    color: blue;
  }
}

.description {
  font-style: italic;
}

.label {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
}

.label-danger {
  background: #9ea3a9;
}

.nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  cursor: pointer;
}
