#myReport {
  .breadcrumb-bar {
    margin-left: -43px;
  }
  .task-list {
    height: 270px;
    overflow:auto;
  }

  .user_task {
    margin: 15px auto;
    padding: 15px;
  }

  .mg-15 {
    margin: 15px;
  }

  .controlContentHeader {
    color: #3c8dbc;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
  }

  #seachTaskName {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
