.task {
  padding: 15px;
  width: 120px;
  color: white;
  display: inline-block;
  text-align: center;
  margin: 10px;
  a {
    color: white;
  }
  &.init {
    background: #55acee;
  }
  &.inprogress {
    background: #f69c55;
  }
  &.finish {
    background: #9ea3a9;
  }
}

.update-task {
  border-radius: 0px;
  &.update {
    margin-left: -5px;
  }
  &.finish {
    margin-left: 10px;
    background-color: red;
    border-color: red;
    margin-bottom: 20px;
  }
}

.information {
  margin-bottom: 20px;
}
