#subject-show, #edit-task {
  .grid-box-tasks {
    margin-top: -2em;
  }
  .subject-note {
    font-size: 16px;
  }
  .modal-user-task {
    margin-top: 10px;
  }
  .assign-other {
    margin-left: -30px;
  }
  .img-circle {
  }
  a {
    background-color: transparent;
  }
  a:active, a:hover {
    outline: 0;
  }
  strong {
    font-weight: bold;
  }
  .lr {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 48em) {
    body {
      margin-bottom: 0em;
    }
  }
  @media screen and (min-width: 68.75em) {
    body {
      margin-bottom: 0em;
    }
  }
  ul, ol, p {
    margin-bottom: 1.25em;
    margin-top: 0;
  }
  p {
    margin-left: 10px;
  }
  li {
    margin-bottom: 0.625em;
    margin-top: 0;
  }
  li, p {
    font-size: 90%;
  }
  @media screen and (min-width: 48em) {
    li, p {
      font-size: 100%;
    }
  }
  h2, h3, h4, .h {
    color: #575a5b;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0em;
    margin-top: 0;
  }
  h2, .h--2 {
    font-size: 100%;
  }
  @media screen and (min-width: 48em) {
    h2, .h--2 {
      font-size: 150%;
    }
  }
  h3, .h--3 {
    font-size: 105%;
  }
  @media screen and (min-width: 48em) {
    h3, .h--3 {
      font-size: 125%;
    }
  }
  h4, .h--4 {
    font-size: 100%;
  }
  strong {
    font-weight: 600;
  }
  a, .link {
    color: #21abc7;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  a:hover {
    border-color: #fff;
    color: #212BC7;
    opacity: 0.75;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  @media screen and (min-width: 48em) {
    .bucket-media {
      float: left;
      margin-right: 1.25em;
    }
  }

  .bucket-media>a img {
    display: block;
    max-width: none;
  }
  @media screen and (min-width: 48em) {
    .bucket-media--b {
      float: left;
    }
  }
  .btn {
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 85%;
    line-height: 3;
    padding: 0 2.5em;
    background-color: #21abc7;
    border: 1px solid #21abc7;
    color: #fff;
    border-radius: 100px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
  }
  .btn--block {
    display: block;
  }
  .btn--b {
    background-color: transparent;
    border: 1px solid #21abc7;
    color: #21abc7;
  }
  .btn--b:hover,
  .btn--b:focus,
  .btn--b:active,
  .btn--b.is-active,
  .btn--b.is-selected {
    background-color: #21abc7;
    border-color: #21abc7;
    color: #fff;
  }
  .grid {
    display: block;
    margin-left: -3.3em;
  }
  .grid::after {
    clear: both;
    content: "";
    display: table;
  }
  .grid-box {
    box-sizing: border-box;
    float: left;
    margin: 0;
    width: 100%;
  }
  @media screen and (min-width: 68.75em) {
    .g--s {
      margin-left: -0.9375em;
    }
    .g--s .grid-box {
      padding-left: 0.9375em;
    }
  }
  @media screen and (min-width: 68.75em) {
    .g--m {
      margin-left: -1.25em;
    }
    .g--m .grid-box {
      padding-left: 1.25em;
    }
  }
  .g--l .grid-box {
    padding-left: 3.75em;
  }
  @media screen and (min-width: 48em) {
    .g-b--m--1of2 {
      width: 50%;
    }
  }
  @media screen and (min-width: 64em) {
    .grid-box-25 {
      width: 25%
    }
    .grid-box-4 {
      width: 40%;
    }
    .grid-box-6 {
      width: 60%;
    }
    .grid-box-75 {
      padding: 0% 3% 3% 3%;
      width: 75%;
    }
  }
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .list--divided {
    border: 0;
    display: block;
  }
  .list--object::after {
    clear: both;
    content: "";
    display: table;
  }
  .list--object>.list-item,
  .markdown .list--object>li {
    float: left;
    margin-bottom: 0.625em;
    margin-left: 1em;
  }
  @media screen and (min-width: 48em) {
    .list--object .list-item--label {
      margin-top: 0.3125em;
    }
  }
  .list-item,
  .markdown li {
    display: block;
  }
  .row {
    overflow: hidden;
    padding: 0 0.625em;
  }
  @media screen and (min-width: 48em) {
    .row {
      padding: 0 2.5em;
    }
  }
  .well {
    margin-bottom: 0.625em;
    margin-top: 0.625em;
    padding-top: 0px;
    background-color: #F6F8F8;
    border: none;
    box-shadow: none;
  }
  @media screen and (min-width: 48em) {
    .well {
      margin-bottom: 1.25em;
      margin-top: 1.25em;
    }
  }
  .well--l {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }
  @media screen and (min-width: 48em) {
    .well--l {
      margin-bottom: 2.5em;
      margin-top: 2.5em;
    }
  }
  .badge {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    display: block;
    height: 100px;
    padding: 0.3125em;
    position: relative;
    width: 100px;
  }
  .breadcrumb>li {
    display: inline;
    font-size: 95%;
    font-weight: 600;
    margin-right: 0.625em;
  }
  .breadcrumb>li:last-child {
    margin-right: 0;
  }
  .breadcrumb>li::after {
    padding-left: 0.625em;
  }
  .breadcrumb>li:last-child::after {
    content: "";
    padding-left: 0;
  }
  .breadcrumb>li>a {
    border: 0;
    text-decoration: underline;
  }
  .h-label {
    font-size: 65%;
  }
  @media screen and (min-width: 48em) {
    .h-label {
      font-size: 45%;
    }
  }
  .h-label {
    font-size: 75%;
  }
  @media screen and (min-width: 48em) {
    .h-label {
      font-size: 55%;
    }
  }
  .h--3 .h-label {
    font-size: 70%;
  }
  .h--4 .h-label {
    font-size: 60%;
  }
  .h-label {
    display: block;
    text-transform: uppercase;
  }
  .label {
    color: #257C94;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
  }
  .label-modal {
    color: #444;
    font-size: 85%;
    font-weight: 600;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    margin-left: 250px;
  }
  .label-user-task {
    margin-top: 5px;
  }
  .modal-body {
    position: relative;
    padding: 15px;
    padding-top: 0px;
  }
  .modal-dialog {
    margin-top: 10px !important;
  }
  .modal-content {
    background-color: #F6F8F8;
  }
  .btn-modal {
    margin-left: 470px;
  }
  @media screen and (min-width: 48em) {
    .label {
      margin-bottom: 1.25em;
    }
  }
  .bdrn {
    border: 0;
  }
  .trainer {
    border-bottom: 1px solid #e2e8e9;
    margin-bottom: 1.25em;
  }
  .breadcrumb-bar {
    margin-bottom: 0em;
    text-align: left;
  }
  .breadcrumb {
    background-color: #f6f8f8 !important;
    font-size: 120%;
  }
  .bdrl {
    border-left: 1px solid #e2e8e9;
  }
  .db {
    display: block;
  }
  .di {
    display: inline;
  }
  .dn {
    display: none;
  }
  @media screen and (min-width: 48em) {
    .db--m {
      display: block;
    }
    .di--m {
      display: inline;
    }
  }
  .mbf {
    margin-bottom: 0;
  }
  .task-description {
    font-size: 120%;
    display: flex;
  }
  .mbs {
    margin-bottom: 0.625em;
  }
  .mbm {
    margin-bottom: 1.25em;
  }
  .mbl {
    margin-bottom: 2.5em;
    margin-left: -2em;
  }
  .mbxl {
    margin-bottom: 5em;
  }
  @media screen and (min-width: 30em) {
    .mbf--s {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 48em) {
    .mbf--m {
      margin-bottom: 0;
    }
    .mbxs--m {
      margin-bottom: 0.3125em;
    }
    .mbs--m {
      margin-bottom: 0.625em;
    }
    .mbm--m {
      margin-bottom: 1.25em;
    }
    .mbl--m {
      margin-bottom: 2.5em;
    }
  }
  @media screen and (min-width: 64em) {
    .mbf--l {
      margin-bottom: 0;
    }
    .mbm--l {
      margin-bottom: 1.25em;
    }
  }
  @media screen and (min-width: 68.75em) {
    .mbm--xl {
      margin-bottom: 1.25em;
    }
  }
  .mls {
    margin-left: 0.625em;
  }
  .mlm {
    margin-left: 1.25em;
  }
  @media screen and (min-width: 48em) {
    .mlm--m {
      margin-left: 1.25em;
    }
    .mls--m {
      margin-left: 0.625em;
    }
  }
  @media screen and (min-width: 64em) {
    .mlm--l {
      margin-left: 1.25em;
    }
    .mlxl--l {
      margin-left: 5em;
    }
  }
  .mts {
    margin-top: 0.625em;
    margin-left: 2em;
  }
  @media screen and (min-width: 48em) {
    .mts--m {
      margin-top: 0.625em;
    }
  }
  .pbm {
    padding-bottom: 1.25em;
  }
  .pbl {
    padding-bottom: 2.5em;
  }
  .pbxl {
    padding-bottom: 5em;
  }
  .prs {
    padding-right: 0.625em;
  }
  .tac {
    text-align: center;
  }
  .tau {
    margin-left: 33px;
  }
  .tar {
    text-align: right;
  }
  @media screen and (min-width: 64em) {
    .tal--l {
      text-align: left;
    }
  }
  .tch {
    color: #21abc7;
  }
  .color-gray {
    color: #aebdc1;
  }
  .color-green {
    color: #1EA600;
  }
  .color-red {
    color: #A60000;
  }
  .color-blue {
    color: #0600A6;
  }
  .tct {
    color: #393d40;
  }
  .tsxs {
    font-size: 90%;
    color: brown;
  }
  .tss {
    font-size: 85%;
  }
  .sector {
    .well--l {
      padding: 0;
    }
  }
  .card {
    font-size: 79%;
    margin-top: 41px;
  }
  .assigned {
    color: #569C38;
  }
  .status {
    color: #569C38;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  .task-infor {
    padding-left: 43px;
    font-size: 15px;
  }
  margin-top: -31px;
}
