#subject-show {
  .subject-overview {
    .subject-title {
      font-size: 300%;
      color: #575a5b;
      font-weight: 700;
    }
    .description {
      font-size: 120%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .user-task {
    background-color: white;
    padding: 10px;
    .overview {
      font-size: 150%;
      color: #575a5b;
      margin-bottom: 1.25em;
    }

    .assign-task {
      .col-md-2 {
        padding-right: 0px;
        width: 15%;
      }
    }

    .heading {
      margin-bottom: 10px;
      margin-top: 10px;

      .label-status {
        border-radius: 3px;
        color: white;
        font-weight: 500;
        padding: 0px 3px 1px 5px;
        margin-left: 0px;
        margin-right: 0.625em;
      }

      .user-progress, .edit-task {
        margin-right: 0.625em;
        padding-left: 0.625em;
        border-left: 1px solid #e2e8e9;
      }
    }

    .task-name {
      font-size: 125%;
      margin-bottom: 5px;
    }

    .select-assign {
      height: 24px;
      padding: 0px;
    }
  }

  .member-title {
    font-size: 16px;
  }

  .btn-action {
    font-size: 12px;
    line-height: 3;
    padding: 0 2em;
    border-radius: 100px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    border: 1px solid #21abc7;
    color: #21abc7;
  }

  .btn-action:hover {
    background-color: #21abc7;
    border-color: #21abc7;
    color: #fff;
  }

  .box-divider {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;

    .label-title {
      color: #257C94;
      font-size: 100%;
      font-weight: 600;
      letter-spacing: 0.0125em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}
