.user-task-page {
  .comments {
    .media-left {
      float: left;
      width: 12%;
    }

    .media-body {
      word-wrap: break-word;
      width: 83%;
    }

    #comment-field {
      height: 34px;
      margin-top: 7px;
    }

    .contents {
      min-height: 0px;
      max-height: 450px;
    }

    .comment-field-row {
      border-top: 1px solid #ccc;
    }
  }

  .score-evaluate {
    .score-title {
      margin: 15px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .task-submission {
    min-height: 60px;
  }
}
