.user-profile {
  background: white;
  padding-top: 20px;
  
  .profile-image {
    margin-left: 10px;
    width: 150px;
    border-radius: 50%;
  }

  .info {
    margin-top: 27px;
  }
}

.finished_course {
  dt {
    strong {
      float: left; 
    }
  }
}

.list_special .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 0;
}

.label {
  float: right;
  margin-right: 50px;
}
