.user-profile {
  margin-top: 20px;
  background: #F8F8F8;
  padding-top: 20px;
  padding-bottom: 20px;

  .profile-image {
    margin-left: 10px;
    width: 150px;
    border-radius: 50%;
  }

  .info {
    margin-top: 27px;
  }
}
