#user-task {
  margin-top: -28px;
  margin-left: -20px;

  .breadcrumb-paths {
    margin-bottom: 0em;
    text-align: left;
  }

  .breadcrumb {
    background: #F5F7F7;
    font-weight: 600;
    font-size: 115%;
    a {
      color: #21ABC7;
      text-decoration: underline;
    }

    a:hover {
      color: #212BC7;
    }
  }

  .description {
    font-style: italic;
  }

  #task-info {
    margin-left: 28px;

    .badge {
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      display: block;
      height: 100px;
      padding: 0.3125em;
      position: relative;
      width: 100px;
    }
  }

  .well {
    min-height: 20px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    .progress {
      background-color: #8E8484;
    }
  }
}
