#user-course-show {
  .subject {
    background-color: white;
    margin-top: 15px;
    padding: 5px 2px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    margin: 7px 0px;
  }

  .node--connected::after {
    background: #e2e8e8;
    bottom: 18px;
    content: "";
    height: 125px;
    left: 28px;
    position: absolute;
    width: 6px;
    z-index: -1;
  }

  .node {
    border: 3px solid white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-top: 46px;
  }

  .node-init {
    background: #DC9F48;
  }

  .node-progress {
    background-color: #009852;
  }

  .node-finish {
    background-color: #ccc;
  }

  .subject-image {
    padding-left: 5px;
    padding-right: 0px;
  }

  .infor {
    padding-top: 13px;
    margin-right: 0px;
  }

  .subject-name {
    font-size: 20px;
    color: #21abc7;
    font-weight: 300;
    margin: 4px 0px;
  }
}

.circle-init {
  color: #DC9F48;
}

.circle-progress, .circle-in_progress {
  color: #009852;
}

.circle-finish, .circle-finished {
  color: #ccc;
}
