.user-profile {
  background: #F8F8F8;
  padding-top: 20px;
  
  .profile-image {
    margin-left: 10px;
    width: 150px;
    border-radius: 50%;
  }

  .info {
    margin-top: 27px;
  }
}

.finished_course {
  dt {
    strong {
      float: left; 
    }
  }
}
