<div class="timeline-item">
  <div class="timeline-title row">
    <div class="col-md-6">
      <div class="timeline-header">
        <%= link_to user_subject.subject.name,
          [:admin, @inprogress_course.course, user_subject.subject] %>
      </div>
    </div>
    <div class="col-md-6">
      <%= render "shared/progress_bar", percent: user_subject.percent_progress,
        status: user_subject.status %>
    </div>
  </div>
  <div class="timeline-body">
    <div class="user-task">
      <table class="table">
        <%= render partial: "admin/users/user_task", collection: user_subject.user_tasks, as: :user_task,
          locals: {user_course_id: @inprogress_course.course.user_courses.find_by(user_id: user_subject.user.id).id,
            subject_id: user_subject.subject.id} %>
      </table>
    </div>
  </div>
</div>
