<ul class="timeline">
  <% @course_subjects.each do |item| %>
      <div class="timeline-item">
        <div class="col-md-2">
          <%= image_course_subject_tag item %>
        </div>
        <div class="col-md-10 course-subject-body">
          <h3 class="timeline-header">
            <%= link_to item.subject_name,
              admin_course_subject_path(@course, item.subject) %>
          </h3>
          <div class="timeline-body">
            <%= item.subject.description %>
          </div>
          <div class="timeline-footer">
            <%= link_to t("courses.view_detail"),
              admin_course_subject_path(@course, item.subject),
              class: "btn btn-primary btn-xs" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
