<table class="table" id="sortable">
  <tbody>
    <% @course_subjects.each do |course_subject| %>
      <tr data-item-id=<%= course_subject.id %>
        data-url=<%= admin_course_course_subject_path course_subject.course, course_subject %>
        class="item">
        <td>
          <div class="timeline-item">
            <div class="col-md-12 course-subject-body">
              <h4 class="timeline-header">
                <%= link_to course_subject.subject_name,
                  admin_course_subject_path(@course, course_subject.subject) %>
              </h4>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
