<div class="row document-field">
  <div class="col-md-6">
    <%= f.text_field :name, placeholder: t("courses.document_name"),
      class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.file_field :content %><br>
  </div>
  <div class="col-md-1">
    <strong><%= link_to_remove_fields t("courses.document_remove"), f %></strong>
  </div>
</div><br>
