<div id="admin-courses">
  <div class="title"><%= t "layouts.courses" %></div>
  <p class="pull-right"><%= link_to t("courses.buttons.admin.create"),
    new_admin_course_path, class: "btn btn-success" %></p>

  <% unless @courses.nil? %>
    <div class="row list-course-items">
      <%= render @courses %>
    </div>
  <% end %>
</div>
