<div id="myReport">
  <div class="row">
    <div class="row">
      <div class="row">
        <h2>
          <%= t "report" %>
        </h2>
      </div>
      <%= form_for @report do |f| %>
        <%= render "form_report", f: f %>
      <% end %>
    </div>
  </div>
</div>
