<footer class="container">
  <nav>
    <ul>
      <li><%= link_to t("staticpages.about"), "#"  %></li>
      <li><%= link_to t("staticpages.contact"), "#" %></li>
      <li><%= link_to t("staticpages.new"), "#" %></li>
    </ul>
  </nav>
</footer>
