<li>
  <%= link_to "#" do %>
    <div class="pull-left">
    </div>
    <h4>
      <div class="notification-content"><div>
      <small><i class="fa fa-clock-o"></i></small>
    </h4>
  <% end %>
</li>
