<% object.each do |item| %>
  <% if can? :read, item %>
    <ul class="treeview-menu">
      <li>
        <%= link_to "/admin/#{item.table_name}" do %>
          <i class="fa fa-circle-o"></i>
          <%= t "layouts.#{item.table_name}" %>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>
