<li>
  <div class="media">
    <div class="media-left">
      <%= link_to avatar_user_tag(current_user, "img-circle media-object", Settings.image_size_40),
        user_path(current_user), title: current_user.name %>
    </div>
    <div class="media-body">
      <div class="media-heading">
        <strong><%= link_to current_user.name, user_path(current_user) %></strong>
        sdflsajfsadfasdfkjlkjsadfksdfjsoafdjm
      </div>
    </div>
  </div>
</li>
