<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="label box-title">
      <%= t "subjects.members" %>
      <span class="badge label-primary"><%= @users.size %></span>
    </h3>
  </div>
  <div class="box-body no-padding">
    <%= render "shared/member_panel" %>
  </div>
</div>
