<span class="label-title">Task Submission</span>
<span class="pull-right">
  <%= link_to "edit", edit_task_submission_path(@user_task.id), remote: true, class: "btn btn-action" %>
</span>
<%= @user_task.submission.html_safe %>

