<div class="row">
  <div class="col-md-2">
    <%= user_task.name %>
  </div>
  <div class="col-md-4">
    <div class="progress">
      <div class="progress-bar" role="progressbar"%>%">
        <%= user_task.progress %>%
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <%= t "subjects.status" %>&nbsp;
    <span class="text-danger">
      <i><%= t "tasks.statuses.#{Settings.tasks.statuses.key(user_task.status)}" %></i>
    </span>
  </div>
</div>
